html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

@import "~normalize.css"

$fa-font-path: '/font-awesome'
$fa-css-prefix: 'icon'
@import "./font_awesome/font-awesome.scss"

$white: #FFFFFF
$lightgrey: #F2F2F2
$darkgrey: #626262
$blue: #3E75FF


html, body
  padding: 0
  margin: 0

html, body
  height: 100%
  width: 100%
  min-height: 100%
  min-width: 100%
  // overflow: hidden

body > main
  // height: 100%
  // width: 100%


a[href]
  &, &:hover
  text-decoration: none

video
  background-color: black

// Flexbox

.layer
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0
  height: 100%
  width: 100%

.transparent-overlay
  background-color: transparent
  pointer-events: none

.columns, .rows
  display: flex
  flex-wrap: nowrap
  justify-content: flex-start
  align-items: stretch
  align-content: flex-start

.columns
  flex-direction: row

.rows
  flex-direction: column


.grow
  flex-grow: 1
  flex-shrink: 1


// Themes

.theme-dark
  // background-color: black
  color: white

  .link
    background: transparent
    border: none
    &, &:hover, &:active
      color: white
      outline: none
    &:hover, &:focus
      background-color: $blue



.inline-list
  list-style-type: none
  margin: 0
  padding: 0
  > *
    display: inline-block

.separated-list > *:not(:last-child):after
  content: " | "
  margin-right: 0.25em

.crumb-list > *:after
  content: " < "
  margin-right: 0.25em

.layout-padded
  padding: 1em

.play-page
  .transparent-overlay
    opacity: 1
    &.invisible
      opacity: 0

@import "./components/navbar"
@import "./components/search_input"
@import "./components/search_results"
@import "./components/transfers-list"
@import "./components/files_page"
