.alerts
  user-select: none
  pointer-events: none
  position: fixed
  top: 0
  left: 0
  right: 0
  display: flex
  flex-wrap: nowrap
  justify-content: flex-start
  align-items: center
  align-content: flex-start
  flex-direction: column

  > .alert
    display: inline-block
    color: white
    background-color: $blue
    border-radius: 5px
    padding: 4px 6px
    border: 1px solid darkblue
    margin-top: 2px

    .link.close-alert
      margin-left: 0.5em
      pointer-events: auto
      color: inherit
