.files-page

  .files-video-file

    video
      width: 100%
      background-color: black

  .files-directory-member
    padding: 2px 5px 5px 5px
    display: flex
    flex-wrap: nowrap
    justify-content: flex-start
    align-items: stretch
    align-content: flex-start
    flex-direction: row
    white-space: nowrap

    &.files-directory-member-selected
      background-color: #dbe0ff

    .files-title
      text-overflow: ellipsis
      overflow: hidden

    > *
      padding: 0 5px


  & *:active, & *:focus
    > .files-directory-member
      background-color: #c1caff
