.navbar
  margin-bottom: 1em
  border-bottom: 2px solid blue
  align-items: center
  justify-content: space-between
  .link
    white-space: nowrap
    padding: 0 1em
    &, &:hover, &:active
      text-decoration: none
