.navbar
  background-color: black
  margin-bottom: 1em
  border-bottom: 2px solid blue
  align-items: center
  justify-content: space-between
  > *
    white-space: nowrap
    padding: 1em 1%
  > img
    padding: 2px
  .link
    &, &:hover, &:active
      text-decoration: none
    &.active
      border-bottom: 3px solid lightblue

